{# gestion_users/templates/registration/password_reset_done.html #}
{% extends 'base.html' %}

{% block title %}Email envoyé{% endblock %}

{% block content %}
    <h2>Email de réinitialisation envoyé</h2>
    <p>Nous vous avons envoyé des instructions par email pour réinitialiser votre mot de passe. Si un compte existe avec l'adresse email que vous avez fournie, vous devriez le recevoir sous peu.</p>
    <p>Si vous ne recevez pas d'email, veuillez vérifier votre dossier spam ou contacter l'administrateur.</p>
{% endblock %}