


    <footer class="bg-body-tertiary text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgb(13, 110, 253);">
            &copy; 2025 Mon Centre de Formation. Tous droits réservés.
          <a class="text-body" href="https://CFP.com/">CFP.com</a>
        </div>
        <!-- Copyright -->
      </footer>
    {# Vous pouvez également ajouter des liens vers les réseaux sociaux ici #}
    {# Pensez à styliser le pied de page avec CSS pour l'adapter à votre design #}
    {# Vous pouvez également envisager d'utiliser un framework CSS pour un pied de page plus avancé #}
    {# N'oubliez pas de tester le pied de page sur différents appareils pour assurer une bonne expérience utilisateur #}
    {# Pensez à ajouter des attributs ARIA pour améliorer l'accessibilité de votre pied de page #}