<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Acceuil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'gestion_users:formateurs_list' %}">Formateurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'gestion_formations:room_list' %}">Classe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'gestion_formations:seance_calendar_page' %}">Planning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Note</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'gestion_formations:formation_list' %}">Formations</a>
        </li>
        {# Autres liens... #}
      </ul>

      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <span class="nav-link">Bonjour, {{ user.first_name|default:user.username }}</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'gestion_users:profile' %}">Mon Profil</a>
          </li>
          <li class="nav-item">
            <form method="post" action="{% url 'gestion_users:logout' %}" class="form-inline">
              {% csrf_token %}
              <a href="{% url 'gestion_users:logout' %}" class="nav-link text-danger"><i class="bi bi-box-arrow-right me-2">Déconnexion</i></a>
            </form>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'gestion_users:login' %}">Connexion</a>
          </li>
          {% if not settings.SSO_ENABLED %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'gestion_users:signup' %}">Inscription</a>
            </li>
          {% endif %}
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
