{% load static %}
<div class="card shadow-sm mb-4">
    <div class="card-body text-center">
        <img src="{% if user.photo %}{{ user.photo.url }}{% else %}{% static 'images/default-avatar.png' %}{% endif %}" 
             class="rounded-circle img-thumbnail mb-3" 
             alt="Photo de profil"
             style="width: 100px; height: 100px; object-fit: cover;">
        <h5 class="card-title">{{ user.get_full_name }}</h5>
        <p class="card-text text-muted small">
            <span class="badge bg-{% if user.role == 'ADMIN' %}danger{% elif user.role == 'INSTRUCTOR' %}info{% else %}success{% endif %}">
                {{ user.get_role_display }}
            </span>
        </p>
    </div>
    <div class="list-group list-group-flush">
        <a href="{% url 'gestion_users:profile' %}"
           class="list-group-item list-group-item-action {% if active_tab == 'profile' %}active{% endif %}"><i class="bi bi-person-lines-fill me-2"> Vue d'ensemble</i> </a>
        <a href="{% url 'gestion_users:edit_profile' %}" class="list-group-item list-group-item-action {% if active_tab == 'edit' %}active{% endif %}">
            <i class="bi bi-pencil-square me-2"></i> Modifier profil</a>
        <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-lock me-2"> Changer mot de passe</i> </a>
        
        {% if user.role == 'STUDENT' %}
            <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-book me-2"> Mes formations</i></a>
        {% elif user.role == 'INSTRUCTOR' %}
        <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-easel me-2"> Mes cours</i></a>
        {% endif %}
        
        <a href="{% url 'gestion_users:logout' %}" class="list-group-item list-group-item-action text-danger"><i class="bi bi-box-arrow-right me-2"> Déconnexion</i></a>
    </div>
</div>